/* MAIN CONFIGURATION : */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Barlow', sans-serif;
}

html {
    scroll-behavior: smooth;
    background-color: black;
    color: white;
}

li {
    list-style: none;
}

a, i {
    text-decoration: none;
    cursor: pointer;
}
/* END OF MAIN CONFIGURATION */

/* NAV-BAR : */
.container {
  max-width: 75rem;
  height: auto;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.brand {
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: var(--color-green-300);
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 10;
  margin: 0 auto;
  /* -webkit-backdrop-filter: blur(15px); 
  backdrop-filter: blur(15px); */
  background-color: black;
  padding-bottom: 10px;
  padding: 10px;
  box-shadow: 0px 5px 60px #2482fd;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  width: 100%;
  height: 4rem;
  margin: 0 auto;
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 80%;
  height: 100%;
  z-index: 10;
  overflow-y: auto;
  background-color: var(--color-white);
  box-shadow: var(--shadow-medium);
  transition: all 0.45s ease-in-out;
}

.menu.is-active {
  top: 0;
  left: 0;
}

.menu-inner {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  margin: 1.25rem;
}

.menu-link {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  color: white;
  transition: all 0.3s ease;
}

/* .active {
  border-color: 21px solid white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: red;
} */

.menu-block {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  margin-left: 120px;
  padding: 0.65rem 1.35rem;
  border-radius: 40px;
  border-color: transparent;
  padding-bottom: 13px;
  cursor: pointer;
  color: white;
  background-color: #2482fd;
  transition: all 0.3s ease-in-out;
}

.burger {
  position: relative;
  display: block;
  cursor: pointer;
  order: -1;
  width: 1.75rem;
  height: auto;
  border: none;
  outline: none;
  visibility: visible;
}

.gg-menu {
    transform: scale(var(--ggs,1));
    color: white;
}

.gg-menu,
.gg-menu::after,
.gg-menu::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 3px;
    background: currentColor
}

.gg-menu::after,
.gg-menu::before {
    content: "";
    position: absolute;
    top: -6px
}

.gg-menu::after {
    top: 6px
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.65);
  transition: all 0.3s ease-in-out;
}

.overlay.is-active {
  display: block;
  opacity: 1;
  visibility: visible;
}
/* END OF NAV-BAR */

/* HERO SECTION : */
#hero-section {
    color: white;
    margin-top: 120px;
    padding-left: 15%;
    padding-top: 5%;
    /* border: 2px solid red; */
}

#hero-section h1 {
    font-size: 105px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: -35px;
}

#hero-section .powerfull-text {
    background-image: linear-gradient(180deg, #b2eaff 0, #5389f2 50%, #003265 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#hero-section .hero-text {
    font-size: 20px;
    margin-top: 50px;
    width: 400px;
    text-align: justify;
}

#hero-section button {
    margin-top: 30px;
    padding-left: 70px;
    padding-right: 20px;
    background-color: #003265;
    color: white;
    font-size: 17px;
    border-radius: 10px;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: 0.7s;
}

#hero-section button:hover {
    -webkit-transform:scale(1.2);
}

#hero-section button .gg-arrow-right {
    float: right;
    margin-right: 35%;
    margin-left: -50px;
}

#hero-section .hero-img {
    float: right;
    margin-top: -24%;
    margin-right: 10%;
}

#hero-section .mouse-scroll-img {
    width: 60px;
    cursor: pointer;
    margin-top: 45px;
    display: block;
    margin-left: auto;
    margin-right: 57%;
}
/* END OF HERO SECTION */

/* BREAK-POINTS SECTION : */
#beaks-points {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 4%;
  /* background: red; */
}

#beaks-points .card {
  max-width: 300px;
  min-height: 250px;
  background: transparent;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  color: #FFF;
  margin:20px;
  transition: 0.7s;
}

#beaks-points .card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 100px;
}

#beaks-points .card:hover {
  background-color: #003265;
}

#beaks-points .card-title {
  margin-top: 0;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.2px;
}

#beaks-points .card-content {
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

#beaks-points .card-btn {
  all: unset;
  display: block;
  margin-top: 15px;
  border: 2px solid #FFF;
  padding: 10px 15px;
  color: white;
  border-radius: 25px;
  font-size: 10px;
  font-weight: 600;
  transition: all 0.7s;
  cursor: pointer;
  letter-spacing: 1.2px;
}

#beaks-points .card-btn:hover {
 color:#000;
 background: #FFF;
}
/* END OF BREAK-POINTS SECTION */

/* PROMO VIDEO SECTION : */
#promo-video {  
  height: 400px;
  margin-top: 70px;
  text-align: center;
}

#promo-video h1 {
  font-size: 55px;
}

#promo-video p {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 50px;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#promo-video .vjs-poster {
  width: 500px;
  margin: auto;
  display: block;
  border-radius: 10px;
}

#promo-video #my-video {
  margin: auto;
  display: block;
  border-radius: 10px;
  position: relative;
}
/* END OF PROMO VIDEO SECTION */

/* TEAM SECTION : */
#team-member {
  height: 300px;
  color: white;
  margin-top: 80px;
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 0px;
}

#team-member .card {
  border-radius: 10px;
  padding: 20px;
}

#team-member .card .avatar {
  border-radius: 50%;
  width: 70px;
}

#team-member .card .king-img {
  width: 60px;
  position: absolute;
  transform: rotate(-40deg);
  margin-top: -30px;
  margin-left: -28px;
}

#team-member .card .pseudo {
  font-size: 28px;
  font-weight: 600;
  margin-left: 90px;
  margin-top: -75px;
}

#team-member .card .bio {
  margin-left: 10px;
}

#team-member .card p span {
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  font-size: 13px;
}

.card-1 { 
  grid-area: 1 / 1 / 4 / 2;
  /* border: 2px solid white; */
}

.card-2 { 
  grid-area: 1 / 2 / 4 / 3; 
}

.card-3 { 
  grid-area: 1 / 3 / 4 / 4; 
}

.card-4 {
  grid-area: 1 / 4 / 4 / 5;
}
/* END OF TEAM SECTION */

#about {
  width: 100%;
  text-align: center;
  margin-top: 80px;
  margin-left: 10px;
}

#about img {
  width: 200px;
  margin-top: 30px;
}

footer {
  box-shadow: 0px 5px 60px #2482fd;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 70px;
  bottom: 0;
  color: white;
  position: relative;
  margin-top: 150px;
  width: 100%;
  height: 90px;
}

footer p {
  font-size: 22px;
}

footer img {
  float: left;
  margin-left: 30%;
}

footer.fixed {
  position: fixed;
  bottom: 0;
}

footer a {
  color: #2482fd;
  margin-left: 20px;
}