@media only screen and (min-width: 48rem) {
    .menu {
      position: relative;
      top: 0;
      left: 0;
      width: auto;
      height: auto;
      margin-left: auto;
      background: none;
      box-shadow: none;
    }
    .menu-inner {
      display: flex;
      flex-direction: row;
      -moz-column-gap: 1.75rem;
           column-gap: 1.75rem;
      margin: 0 auto;
    }
    .menu-link {
      text-transform: capitalize;
    }
    .menu-block {
      margin-left: 2rem;
    }
}

@media only screen and (min-width: 48rem) {
    .burger {
      display: none;
      visibility: hidden;
    }
}

@media only screen and (max-width: 1722px) {
  #hero-section .hero-img {
    margin-top: -26%;
    margin-right: 200px;
    width: 800px;
  }
}

@media only screen and (max-width: 1605px) {
  #hero-section .hero-img {
    width: 700px;
  }
}

@media only screen and (max-width: 1480px) {
  #hero-section .hero-img {
    width: 600px;
  }
}

@media only screen and (max-width: 1404px) {
  #hero-section .hero-img {
    float: left;
    margin-top: 9%;
    margin-left: -490px;
  }

  #hero-section button {
    float: left;
    margin-top: 20px;
  }

  #hero-section .mouse-scroll-img {
    float: left;
    margin-left: 160px;
  }
}

@media only screen and (max-width: 895px) {
  #hero-section .hero-img {
    margin-top: 30px;
    margin-left: -30px;
    width: 450px;
  }
}

@media only screen and (max-width: 1395px) {
  html {
    height: 2000px;
  }

  #beaks-points {
    margin-left: 8%;
    float: left;
  }

  footer {
    bottom: -5px;
    position: fixed;
  }
}